* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #ddd;
  text-align: center;
  font-family: monospace;
}

h1 {
  font-size: 4em;
}

input[type=text], label {
  margin-bottom: 8px;
}
